/* -------------------  Landing Page CSS -------------------  */


.header-color {
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.headshot-img {
    background-image:url('../Img/Stylized\ Portfolio\ Headshot.png');
    
    object-fit: cover; 
    height: 1000px;
    width: 80%;
    position: relative;
    left: 30%;
}
.landing-grid{    
   
//    background-image:url('../Img/4016x5000px Headshot copy.png');
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    top: 0;
    left: 0; 
    width: 100%;
    height: 900px;
    text-align: center; 
    padding: 0;
    overflow: hidden;
    margin: 0;

}


.banner-text {
    background-color: transparent;
    position: relative;
    right:15%;
    top: 45%;
    width: 80%;
    margin: 1%;
    border-radius: 10px; 

    h1 {
        font-size: 66px;
        font-weight:bold;
        color: white;;
       
    }

    hr {
        border-top: 5px dotted white;;
        width: 50%;
        margin: auto;
    }

    p {
        color: white;
        font-size: 20px;
        padding: 1em;
        
    }
}


.mdl-layout__header-row .mdl-navigation__link:hover {
    color: orange;
}


.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto; 

    i {
     color: white;;   
     font-size: 5em; 
     padding: 8px; 
     margin-right: 40px; 
    }

    i:hover {
        color: orange;
    }

}

/* -------------------  Portfolio Page CSS -------------------  */
.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mdl-card {
        margin: 20px;

        
    }
   
}



/* ------------------- Contact Page CSS -------------------  */

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top:2em;

}
.mdl-grid.contact-grid {
    margin-top: 100px;
}
.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px; 
    background: white; 
    color: black; 
    margin-top: 20%;
    margin-bottom: 20px; 

    h2 {
        font-family: 'Anton',sans-serif;
    }

    p {
        font-family: 'Oxygen',sans-serif;
        font-weight: bold; 
    }

    hr {
        border-top: 5px dotted black;
        margin:auto;
        width: 50%; 
    }
}

.contact-list {
    i {
        font-size:66px;
        padding-right:5rem; 
    }
}

/* ------------------- Resume Page CSS -------------------  */

.resume-right-col {
    background:#27221F;
    color: white; 
    padding: 2em; 
}

.download-resume-btn {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    padding: 5px;
    background-color: #0F2027;
    border: 5px solid  #2C5364; 
    position: fixed; 
    left: 10%;
    top:44%;
  
}

.download-resume-btn:hover {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    background-color: lightblue;
 
    border: 5px solid  #2C5364; 
}