/* Landing Page CSS */
.header-color {
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{    // background: #0F2027;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-image:url('../Img/4016x5000px Headshot copy.png');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
    top: 0;
    left: 0; 
    width: 100%;
    height: 870px;
    text-align: center; 
    padding: 0;
    overflow: hidden;
    margin: 0;

}

.avatar-img {
    height:300px;
    padding-top:5em;
}

.banner-text {
    background-color: transparent;
    position: absolute;
    right:37%;
    top: 145%;
    width: 80%;
    margin: 1%;
    border-radius: 10px; 

    h1 {
        font-size: 66px;
        font-weight:bold;
        color: #0F2027;;
       
    }

    hr {
        border-top: 5px dotted #0F2027;;
        width: 50%;
        margin: auto;
    }

    p {
        color: #0F2027;
        font-size: 20px;
        padding: 1em;
        
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto; 

    i {
     color: #0F2027;;   
     font-size: 5em; 
     padding: 8px; 
     margin-right: 40px; 
    }

}

/* Portfolio Page CSS */
.projects-grid {
    display: flex;
}

/* Contact Page CSS */

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top:2em;

}
.mdl-grid.contact-grid {
    margin-top: 100px;
}
.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px; 
    background: white; 
    color: black; 
    margin-top: 20%;
    margin-bottom: 20px; 

    h2 {
        font-family: 'Anton',sans-serif;
    }

    p {
        font-family: 'Oxygen',sans-serif;
        font-weight: bold; 
    }

    hr {
        border-top: 5px dotted black;
        margin:auto;
        width: 50%; 
    }
}

.contact-list {
    i {
        font-size:66px;
        padding-right:5rem; 
    }
}

/* Resume Page CSS */

.resume-right-col {
    background:#27221F;
    color: white; 
    padding: 2em; 
}